:root{
    --v-select-height: 40px;
}

.v-input.v-text-field--outlined.v-select:deep(fieldset) {
    height: var(--v-select-height);
    background: var(--v-textField-base);
    border: 1px solid #ECECF7;
    box-shadow: 0px 4px 4px var(--vt-c-shadows-1);
    border-radius: 13px;
    transition: border 0.1s linear 0s;
}

.v-text-field .v-label {
    top: 14px;
}


.v-text-field--full-width .v-input__prepend-outer, .v-text-field--full-width .v-input__prepend-inner, .v-text-field--full-width .v-input__append-inner, .v-text-field--full-width .v-input__append-outer, .v-text-field--enclosed .v-input__prepend-outer, .v-text-field--enclosed .v-input__prepend-inner, .v-text-field--enclosed .v-input__append-inner, .v-text-field--enclosed .v-input__append-outer {
    margin-top: 14px;
}

.v-text-field--outlined > .v-input__control > .v-input__slot, .v-text-field--outlined {
    min-height: var(--v-select-height);
    border-width: 0;
}

.v-input--is-focused.v-text-field--outlined {
    border: 2px solid #2886DA;
    box-shadow: 0px 4px 4px var(--vt-c-shadows-1);
    transition: border 0.1s linear 0s;
}

.v-pagination__navigation, .v-pagination__item{
    border-radius: 10px;
    box-shadow: 0px 4px 4px 4px var(--vt-c-shadows-1);
}

.btn-larger .v-btn:not(.v-btn--round).v-size--default{
    height: 48px;
    border-radius: 13px;
    box-shadow: 0px 4px 4px var(--vt-c-shadows-1);
}
