$v-select-height: 42px;

.v-input.v-text-field--outlined.v-select {
    margin-top: 3px;
    max-height: $v-select-height;
    background: var(--v-textField-base);
    border: 1px solid #ECECF7;
    box-shadow: 0px 4px 4px var(--vt-c-shadows-1);
    border-radius: 13px;
    transition: border 0.1s linear 0s;
}

.v-input--is-focused.v-text-field--outlined.v-select:deep(fieldset) {
    max-height: $v-select-height;
    border: 2px solid #2886DA;
    box-shadow: 0px 4px 4px var(--vt-c-shadows-1);
    transition: border 0.1s linear 0s;
}

.v-expansion-panels{
    padding-right: 1px;
}

.v-expansion-panel-header, .v-expansion-panel-content:deep .v-expansion-panel-content__wrap {
    padding: 0;
}

.v-expansion-panel--active{
    margin: 0;
}

.v-expansion-panel--active:deep > .v-expansion-panel-header {
    min-height: 48px;
}

.section-title{
    margin: 4px 0 4px 0;
    background-color: var(--v-background-base);
}

.custom-box-shadow {
    box-shadow: -8px 4px 4px -4px rgba(59, 125, 182, 0.068);
    border-radius: 0 13px 13px 0;
    border: 2px solid var(--v-background-base);
    border-left: 0;
}

.btn-round {
    border-radius: 13px;
}
.btn-round-left {
    border-radius: 13px 0 0 13px;
}

.btn-round-right {
    border-radius: 0 13px 13px 0;
}

.custom-text-field.v-text-field--outlined:deep(fieldset) {
    background: var(--v-textField-base);
    border: 1px solid #ECECF7;
    box-shadow: 0px 4px 4px var(--vt-c-shadows-1);
    border-radius: 13px;
    transition: border 0.1s linear 0s;
}

.custom-text-field.v-input--is-focused.v-text-field--outlined:deep(fieldset) {
    border: 2px solid #2886DA;
    box-shadow: 0px 4px 4px var(--vt-c-shadows-1);
    transition: border 0.1s linear 0s;
}

.custom-text-field.error--text.v-text-field--outlined:deep(fieldset) {
    border: 2px solid #ff5252;
}
