.logo {
    position: absolute;
    left: 5%;
    top: 3%;
    width: 20%;
}

.image-style {
    height: 100vh;
    margin-top: -8vh;
    mix-blend-mode: overlay;
    border-radius: 16px 0 0 16px;
}

.background-sheet-style {
    overflow: hidden;
    border-radius: 16px;
    width: 50%;
    height: 65vh;
}